
<html>
        <head>
                <title>BANDHAN</title>
                <!-- CSS -->
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <!--Bootstrap Core JavaScript -->
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </head>
        <body style="margin-top: 50px">
		{% block navigationbar %}{% endblock %}
		{% block content %}{% endblock %}
	</body>
</html>
