{% extends "header.html" %}

{% block content %}
<div class="container" style="margin-top:50px">
<form action="" method="post" novalidate>
	{{ form.hidden_tag() }}
		<h2>Profile</h2>
		<div class="form-group">
			{{ form.Age.label }}
			{{ form.Age() }}
		</div>
		<div class="form-group">
			{{ form.Height.label }}
			{{ form.Height() }}
		</div>
		<div class="form-group">
			{{ form.Gender.label }}
			{{ form.Gender() }}
		</div>
		<div class="form-group">
			{{ form.Marital_Status.label }}
			{{ form.Marital_Status() }}
		</div>
		<div class="form-group">
			{{ form.Education.label }}
			{{ form.Education() }}
		</div>
		<div class="form-group">
			{{ form.Profession.label }}
			{{ form.Profession() }}
		</div>
		<div class="form-group">
			{{ form.Religion.label }}
			{{ form.Religion() }}
		</div>
		<div class="form-group">
			{{ form.Language.label }}
			{{ form.Language() }}
		</div>
		<div class="form-group">
			{{ form.City.label }}
			{{ form.City() }}
		</div>
		<div class="form-group">
			{{ form.Country.label }}
			{{ form.Country() }}
		</div>
		<div class="form-group">
			{{ form.Food.label }}
			{{ form.Food() }}
		</div>
		<div class="form-group">
			{{ form.Drinks.label }}
			{{ form.Drinks() }}
		</div>
		<div class="form-group">
			{{ form.Smokes.label }}
			{{ form.Smokes() }}
		</div>
		<div class="form-group">
			{{ form.Skin_Tone.label }}
			{{ form.Skin_Tone() }}
		</div>
		<div class="form-group">
			{{ form.Build.label }}
			{{ form.Build() }}
		</div>
		<div class="form-group">
			{{ form.submit() }}
	</form>
</div>


{% endblock %}
